<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      <div>
        <a>
          Dashboard
        </a>
      </div>
    </mat-toolbar>
    <main>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-drawer-container class="global-area">

  <mat-drawer #drawer class="right-area" mode="side" position="end" [opened]="true">
    <app-right-panel
      [checkpoints]="checkpoints"
    >
    </app-right-panel>
  </mat-drawer>
  <div class="left-area">
    <app-left-panel
      (openRightPanel)="drawer.toggle($event)"
      [checkpointsToUpdate]="constCheckpoints"
      [checkpoints]="checkpoints"
    ></app-left-panel>

  </div>

</mat-drawer-container>
